<!DOCTYPE html>
<html>
<head>
	<title>Hello world</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>
<body>
	<% include patials/nav.ejs %>
	Hello world
</body>
</html>